USE [master]
GO
/****** Object:  Database [fax]    Script Date: 28.1.2021. 18:20:05 ******/
CREATE DATABASE [fax]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'fakultet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\fakultet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'fakultet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\fakultet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [fax].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [fax]
GO
/****** Object:  Table [dbo].[dvorana]    Script Date: 28.1.2021. 18:20:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dvorana](
	[oznDvorana] [char](5) NOT NULL,
	[kapacitet] [int] NULL,
 CONSTRAINT [PK_dvorana] PRIMARY KEY CLUSTERED 
(
	[oznDvorana] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ispit]    Script Date: 28.1.2021. 18:20:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ispit](
	[mbrStud] [int] NOT NULL,
	[sifPred] [int] NOT NULL,
	[sifNastavnik] [int] NOT NULL,
	[datIspit] [datetime] NOT NULL,
	[ocjena] [smallint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mjesto]    Script Date: 28.1.2021. 18:20:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mjesto](
	[pbr] [int] NOT NULL,
	[nazMjesto] [nchar](40) NOT NULL,
	[sifZupanija] [smallint] NULL,
 CONSTRAINT [PK_mjesto] PRIMARY KEY CLUSTERED 
(
	[pbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nastavnik]    Script Date: 28.1.2021. 18:20:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nastavnik](
	[sifNastavnik] [int] NOT NULL,
	[imeNastavnik] [nchar](25) NOT NULL,
	[prezNastavnik] [nchar](25) NOT NULL,
	[pbrStan] [int] NOT NULL,
	[sifOrgjed] [int] NOT NULL,
	[koef] [decimal](3, 2) NOT NULL,
 CONSTRAINT [PK_nastavnik] PRIMARY KEY CLUSTERED 
(
	[sifNastavnik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orgjed]    Script Date: 28.1.2021. 18:20:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orgjed](
	[sifOrgjed] [int] NOT NULL,
	[nazOrgjed] [nchar](60) NOT NULL,
	[sifNadorgjed] [int] NULL,
 CONSTRAINT [PK_orgjed] PRIMARY KEY CLUSTERED 
(
	[sifOrgjed] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pred]    Script Date: 28.1.2021. 18:20:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pred](
	[sifPred] [int] NOT NULL,
	[kratPred] [char](8) NULL,
	[nazPred] [nchar](60) NOT NULL,
	[sifOrgjed] [int] NULL,
	[upisanoStud] [int] NULL,
	[brojSatiTjedno] [int] NULL,
 CONSTRAINT [PK_pred] PRIMARY KEY CLUSTERED 
(
	[sifPred] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rezervacija]    Script Date: 28.1.2021. 18:20:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rezervacija](
	[oznDvorana] [char](5) NOT NULL,
	[oznVrstaDan] [char](2) NOT NULL,
	[sat] [smallint] NOT NULL,
	[sifPred] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stud]    Script Date: 28.1.2021. 18:20:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stud](
	[mbrStud] [int] NOT NULL,
	[imeStud] [nvarchar](25) NOT NULL,
	[prezStud] [nvarchar](25) NOT NULL,
	[pbrRod] [int] NULL,
	[pbrStan] [int] NOT NULL,
	[datRodStud] [datetime] NULL,
	[jmbgStud] [char](13) NULL,
 CONSTRAINT [PK_stud] PRIMARY KEY CLUSTERED 
(
	[mbrStud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zupanija]    Script Date: 28.1.2021. 18:20:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zupanija](
	[sifZupanija] [smallint] NOT NULL,
	[nazZupanija] [nchar](40) NOT NULL,
 CONSTRAINT [PK_zupanija] PRIMARY KEY CLUSTERED 
(
	[sifZupanija] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[dvorana] ([oznDvorana], [kapacitet]) VALUES (N'A001 ', 24)
INSERT [dbo].[dvorana] ([oznDvorana], [kapacitet]) VALUES (N'A002 ', 10)
INSERT [dbo].[dvorana] ([oznDvorana], [kapacitet]) VALUES (N'A101 ', 39)
GO
INSERT [dbo].[ispit] ([mbrStud], [sifPred], [sifNastavnik], [datIspit], [ocjena]) VALUES (1167, 229, 122, CAST(N'2002-08-23T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[ispit] ([mbrStud], [sifPred], [sifNastavnik], [datIspit], [ocjena]) VALUES (1210, 545, 481, CAST(N'2002-10-22T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[ispit] ([mbrStud], [sifPred], [sifNastavnik], [datIspit], [ocjena]) VALUES (1272, 607, 191, CAST(N'2003-01-14T00:00:00.000' AS DateTime), 2)
GO
INSERT [dbo].[mjesto] ([pbr], [nazMjesto], [sifZupanija]) VALUES (10000, N'Zagreb                                  ', 20)
INSERT [dbo].[mjesto] ([pbr], [nazMjesto], [sifZupanija]) VALUES (10010, N'Zagreb-Sloboština                       ', 21)
INSERT [dbo].[mjesto] ([pbr], [nazMjesto], [sifZupanija]) VALUES (10020, N'Zagreb-Novi Zagreb                      ', 21)
GO
INSERT [dbo].[nastavnik] ([sifNastavnik], [imeNastavnik], [prezNastavnik], [pbrStan], [sifOrgjed], [koef]) VALUES (122, N'Tin                      ', N'Grabovac                 ', 49000, 100005, CAST(5.90 AS Decimal(3, 2)))
INSERT [dbo].[nastavnik] ([sifNastavnik], [imeNastavnik], [prezNastavnik], [pbrStan], [sifOrgjed], [koef]) VALUES (126, N'Zdravko                  ', N'Budišin                  ', 53000, 100006, CAST(6.30 AS Decimal(3, 2)))
INSERT [dbo].[nastavnik] ([sifNastavnik], [imeNastavnik], [prezNastavnik], [pbrStan], [sifOrgjed], [koef]) VALUES (130, N'Antun Ivan               ', N'Jonjić                   ', 10000, 100007, CAST(6.70 AS Decimal(3, 2)))
GO
INSERT [dbo].[orgjed] ([sifOrgjed], [nazOrgjed], [sifNadorgjed]) VALUES (6, N'Farmaceutsko-biokemijski fakultet                           ', 9996)
INSERT [dbo].[orgjed] ([sifOrgjed], [nazOrgjed], [sifNadorgjed]) VALUES (7, N'Geodetski fakultet                                          ', 9996)
INSERT [dbo].[orgjed] ([sifOrgjed], [nazOrgjed], [sifNadorgjed]) VALUES (9, N'Filozofski fakultet u Rijeci                                ', 9998)
GO
INSERT [dbo].[pred] ([sifPred], [kratPred], [nazPred], [sifOrgjed], [upisanoStud], [brojSatiTjedno]) VALUES (36, N'TEHNO   ', N'Elektrotehnička tehnologija                                 ', 100003, 2, 2)
INSERT [dbo].[pred] ([sifPred], [kratPred], [nazPred], [sifOrgjed], [upisanoStud], [brojSatiTjedno]) VALUES (37, N'EEL     ', N'Energetska elektronika                                      ', 100005, 6, 2)
INSERT [dbo].[pred] ([sifPred], [kratPred], [nazPred], [sifOrgjed], [upisanoStud], [brojSatiTjedno]) VALUES (39, N'RASAKO  ', N'Radiorelejne i satelitske komunikacije                      ', 100011, 6, 3)
GO
INSERT [dbo].[rezervacija] ([oznDvorana], [oznVrstaDan], [sat], [sifPred]) VALUES (N'B1   ', N'PO', 15, 393)
INSERT [dbo].[rezervacija] ([oznDvorana], [oznVrstaDan], [sat], [sifPred]) VALUES (N'B1   ', N'PO', 9, 393)
INSERT [dbo].[rezervacija] ([oznDvorana], [oznVrstaDan], [sat], [sifPred]) VALUES (N'B2   ', N'PO', 14, 393)
GO
INSERT [dbo].[stud] ([mbrStud], [imeStud], [prezStud], [pbrRod], [pbrStan], [datRodStud], [jmbgStud]) VALUES (1120, N'Zdenko                   ', N'Kolac                    ', 31000, 40000, CAST(N'1985-06-06T00:00:00.000' AS DateTime), N'0606985330186')
INSERT [dbo].[stud] ([mbrStud], [imeStud], [prezStud], [pbrRod], [pbrStan], [datRodStud], [jmbgStud]) VALUES (1121, N'Danijel                  ', N'Marović                  ', 21000, 10000, CAST(N'1984-12-18T00:00:00.000' AS DateTime), N'1812984330118')
INSERT [dbo].[stud] ([mbrStud], [imeStud], [prezStud], [pbrRod], [pbrStan], [datRodStud], [jmbgStud]) VALUES (1123, N'Jozefina                 ', N'Antončić                 ', 10000, 10000, CAST(N'1984-01-21T00:00:00.000' AS DateTime), N'2101984330133')
GO
INSERT [dbo].[zupanija] ([sifZupanija], [nazZupanija]) VALUES (0, N'Nepoznata županija                      ')
INSERT [dbo].[zupanija] ([sifZupanija], [nazZupanija]) VALUES (1, N'Zagrebačka                              ')
INSERT [dbo].[zupanija] ([sifZupanija], [nazZupanija]) VALUES (2, N'Krapinsko-zagorska                      ')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [dvoranaUnique]    Script Date: 28.1.2021. 18:20:05 ******/
CREATE UNIQUE NONCLUSTERED INDEX [dvoranaUnique] ON [dbo].[dvorana]
(
	[oznDvorana] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [mjestoPbr]    Script Date: 28.1.2021. 18:20:05 ******/
CREATE UNIQUE NONCLUSTERED INDEX [mjestoPbr] ON [dbo].[mjesto]
(
	[pbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [mjestoUnique]    Script Date: 28.1.2021. 18:20:05 ******/
CREATE NONCLUSTERED INDEX [mjestoUnique] ON [dbo].[mjesto]
(
	[nazMjesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [nastavnikUnique]    Script Date: 28.1.2021. 18:20:05 ******/
CREATE UNIQUE NONCLUSTERED INDEX [nastavnikUnique] ON [dbo].[nastavnik]
(
	[sifNastavnik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [orgjedUnique]    Script Date: 28.1.2021. 18:20:05 ******/
CREATE UNIQUE NONCLUSTERED INDEX [orgjedUnique] ON [dbo].[orgjed]
(
	[sifOrgjed] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [predUnique]    Script Date: 28.1.2021. 18:20:05 ******/
CREATE UNIQUE NONCLUSTERED INDEX [predUnique] ON [dbo].[pred]
(
	[sifPred] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [studUnique]    Script Date: 28.1.2021. 18:20:05 ******/
CREATE UNIQUE NONCLUSTERED INDEX [studUnique] ON [dbo].[stud]
(
	[mbrStud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [zupanijaUnique]    Script Date: 28.1.2021. 18:20:05 ******/
CREATE UNIQUE NONCLUSTERED INDEX [zupanijaUnique] ON [dbo].[zupanija]
(
	[sifZupanija] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[dvorana] ADD  DEFAULT ((40)) FOR [kapacitet]
GO
ALTER TABLE [dbo].[ispit] ADD  DEFAULT ((1)) FOR [ocjena]
GO
ALTER TABLE [dbo].[ispit]  WITH CHECK ADD  CONSTRAINT [FK_ispit_nastavnik] FOREIGN KEY([sifNastavnik])
REFERENCES [dbo].[nastavnik] ([sifNastavnik])
GO
ALTER TABLE [dbo].[ispit] CHECK CONSTRAINT [FK_ispit_nastavnik]
GO
ALTER TABLE [dbo].[ispit]  WITH CHECK ADD  CONSTRAINT [FK_ispit_pred] FOREIGN KEY([sifPred])
REFERENCES [dbo].[pred] ([sifPred])
GO
ALTER TABLE [dbo].[ispit] CHECK CONSTRAINT [FK_ispit_pred]
GO
ALTER TABLE [dbo].[ispit]  WITH CHECK ADD  CONSTRAINT [FK_ispit_stud] FOREIGN KEY([mbrStud])
REFERENCES [dbo].[stud] ([mbrStud])
GO
ALTER TABLE [dbo].[ispit] CHECK CONSTRAINT [FK_ispit_stud]
GO
ALTER TABLE [dbo].[mjesto]  WITH CHECK ADD  CONSTRAINT [FK_mjesto_zupanija] FOREIGN KEY([sifZupanija])
REFERENCES [dbo].[zupanija] ([sifZupanija])
GO
ALTER TABLE [dbo].[mjesto] CHECK CONSTRAINT [FK_mjesto_zupanija]
GO
ALTER TABLE [dbo].[nastavnik]  WITH CHECK ADD  CONSTRAINT [FK_nastavnik_mjesto] FOREIGN KEY([pbrStan])
REFERENCES [dbo].[mjesto] ([pbr])
GO
ALTER TABLE [dbo].[nastavnik] CHECK CONSTRAINT [FK_nastavnik_mjesto]
GO
ALTER TABLE [dbo].[nastavnik]  WITH CHECK ADD  CONSTRAINT [FK_nastavnik_orgjed] FOREIGN KEY([sifOrgjed])
REFERENCES [dbo].[orgjed] ([sifOrgjed])
GO
ALTER TABLE [dbo].[nastavnik] CHECK CONSTRAINT [FK_nastavnik_orgjed]
GO
ALTER TABLE [dbo].[orgjed]  WITH CHECK ADD  CONSTRAINT [FK_orgjed_orgjed] FOREIGN KEY([sifNadorgjed])
REFERENCES [dbo].[orgjed] ([sifOrgjed])
GO
ALTER TABLE [dbo].[orgjed] CHECK CONSTRAINT [FK_orgjed_orgjed]
GO
ALTER TABLE [dbo].[pred]  WITH CHECK ADD  CONSTRAINT [FK_pred_orgjed] FOREIGN KEY([sifOrgjed])
REFERENCES [dbo].[orgjed] ([sifOrgjed])
GO
ALTER TABLE [dbo].[pred] CHECK CONSTRAINT [FK_pred_orgjed]
GO
ALTER TABLE [dbo].[rezervacija]  WITH NOCHECK ADD  CONSTRAINT [FK_rezervacija_dvorana] FOREIGN KEY([oznDvorana])
REFERENCES [dbo].[dvorana] ([oznDvorana])
GO
ALTER TABLE [dbo].[rezervacija] CHECK CONSTRAINT [FK_rezervacija_dvorana]
GO
ALTER TABLE [dbo].[rezervacija]  WITH CHECK ADD  CONSTRAINT [FK_rezervacija_pred] FOREIGN KEY([sifPred])
REFERENCES [dbo].[pred] ([sifPred])
GO
ALTER TABLE [dbo].[rezervacija] CHECK CONSTRAINT [FK_rezervacija_pred]
GO
ALTER TABLE [dbo].[stud]  WITH CHECK ADD  CONSTRAINT [FK_stud_mjesto] FOREIGN KEY([pbrRod])
REFERENCES [dbo].[mjesto] ([pbr])
GO
ALTER TABLE [dbo].[stud] CHECK CONSTRAINT [FK_stud_mjesto]
GO
ALTER TABLE [dbo].[stud]  WITH CHECK ADD  CONSTRAINT [FK_stud_mjesto1] FOREIGN KEY([pbrStan])
REFERENCES [dbo].[mjesto] ([pbr])
GO
ALTER TABLE [dbo].[stud] CHECK CONSTRAINT [FK_stud_mjesto1]
GO
USE [master]
GO
